.details-wrapper {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: #71a4b1;
    border-radius: 16px;
    border: 1px solid #010d10;
    color: #ffffffcf;
}

.tale {
    display: flex;
    gap: 2rem;
}

.details-wrapper .img {
    width: 320px;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
}

.tale-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

.tale-info .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.tale-info p {
    line-height: 1.6;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
}

.tale-info span {
    color: #ebd50c;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-left: auto;
}

.buttons button {
    background: transparent;
    border: none;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    text-align: center;
    font-size: 0.95rem;
    transition: all 0.25s ease;
}

.buttons .edit-btn {
    background-color: #ebd50c;
    color: #1e3a5f;
}

.buttons .edit-btn:hover {
    cursor: pointer;
    background-color: #ffffffcf;
}

.buttons .delete-btn {
    background-color: #8f2c2c;
    color: #ffffffcf;
}

.buttons .delete-btn:hover {
    cursor: pointer;
    background-color: #c94a4a;
}