<div class="details-wrapper">

    <div class="tale">

    <img class="img" [src]="tale?.img" alt="image">
    
    <div class="tale-info">
        <h3 class="title">{{ tale?.title }}</h3>
        <p>Country: <span>{{ tale?.country }}</span></p>
        <p>City: <span>{{ tale?.city }}</span></p>
        <p>Cost: <span>{{ tale?.cost }}</span></p>
        <p>Time needed: <span>{{ tale?.timeNeeded }}</span></p>
        <p>Best Time to Visit: <span>{{ tale?.bestTimeToVisit }}</span></p>
        <p>
            My Experience: <span>{{ tale?.myExperiance }}</span>
        </p>
        <p>
            Valuable Tips: <span>{{ tale?.valuableTips}}</span>
        </p>

    </div>
    </div>
    @if(isOwner){
        <div class="buttons">
            <a class="edit-btn" routerLink = "/tales/{{ tale?._id }}/edit">Edit Tale</a>
            <a class="delete-btn" (click)="deleteTale()">Delete Tale</a>
        </div>
    }

</div>