<div class="details-wrapper">

    <img src="https://th.bing.com/th/id/OIP.-PF6iIIR9RuGQ6mfmVaF3QHaJ4?w=133&h=180&c=7&r=0&o=7&dpr=2&pid=1.7&rm=3" alt="image">
    
    <div class="tale-info">
        <h3 class="title">Sunset at Oia Village</h3>
        <p>Country: <span>Greece</span></p>
        <p>City: <span>Oia</span></p>
        <p>Cost: <span>Free</span></p>
        <p>Time needed: <span>2–3 hours</span></p>
        <p>Best Time to Visit: <span>Late afternoon</span></p>
        <p>
            My Experience: <span> Oia is one of the most famous villages in Santorini, known for its stunning
            sunset views, narrow streets, white houses, and blue domes. I arrived about an hour before sunset and found a spot along the castle ruins.
            It was crowded, but absolutely worth it. As the sun dipped below the horizon,
            everyone went silent — it felt surreal.</span>
        </p>
        <p>
            Valuable Tips: <span>Arrive at least 1 hour early to get a good spot.
            Avoid peak season if you dislike crowds.
            Bring water — it can get very hot.
            Wear comfortable shoes for walking on uneven streets.</span>
        </p>

    </div>

    <div class="buttons">
        <a href="">Edit Tale</a>
        <a href="">Delete Tale</a>
    </div>

</div>