*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

router-outlet + * {
    flex: 1;
    width: 100%;
    display: flex;
}

html, body {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

footer {
    margin-top: auto;
}