<section class="register">

    <h2 class="title">Register page</h2>

    <form class="register-form" #registerForm="ngForm" (ngSubmit)="register()" >

        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" ngModel required email #email="ngModel" >

            @if (email.touched) {
                <div class="error">
                @if (email.errors?.['required']) {
                    <p class="error">Email is required.</p>
                }
                @if (email.errors?.['email']) {
                    <p class="error">Invalid email format.</p>
                }
                </div>
            }
        </div>


        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" ngModel required minlength="6" #password="ngModel" >

            @if (password.touched) {
                <div class="error">
                @if (password.errors?.['required']) {
                    <p>Password is required.</p>
                }
                @if (password.errors?.['minlength']) {
                    <p class="error">Password must be at least 6 characters.</p>
                }
                </div>
            }
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="rePassword" ngModel required #rePassword="ngModel" >

            @if (rePassword.touched) {
                @if (rePassword.errors?.['required']) {
                    <p class="error">Please confirm your password.</p>
                }
            }
        </div>

        <button type="submit" class="submit-btn">Register </button>

    </form>

</section>