<section class="edit-tale">

    <h2 class="title">Edit Travel Tale</h2>

    @if (tale) {
        <form class="edit-form" #editForm="ngForm" (ngSubmit)="editTale()">

            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" [(ngModel)]="tale.title" required minlength="5" #title="ngModel" />

                @if (title.touched) {
                    @if (title.errors?.['required']) {
                        <p class="error">Title is required.</p>
                    }
                    @if (title.errors?.['minlength']) {
                        <p class="error">Title must be at least 5 characters long.</p>
                    }
                }
            </div>

            <div class="form-group">
                <label>Image URL</label>
                <input type="text" name="img" [(ngModel)]="tale.img" required #img="ngModel" />

                @if (img.errors?.['required']) {
                    <p class="error">Image URL is required.</p>
                }
            </div>

            <div class="form-group">
                <label>Country</label>
                <input type="text" name="country" [(ngModel)]="tale.country" required #country="ngModel" />
                
                @if (country.touched) {
                    @if (country.errors?.['required']) {
                        <p class="error">Country is required.</p>
                    }
                }
            </div>

            <div class="form-group">
                <label>City</label>
                <input type="text" name="city" [(ngModel)]="tale.city" required #city="ngModel" />
                
                @if (city.touched) {
                    @if (city.errors?.['required']) {
                        <p class="error">City is required.</p>
                    }
                }
            </div>

            <div class="form-group">
                <label>Cost</label>
                <input type="text" name="cost" [(ngModel)]="tale.cost" required #cost="ngModel" />
            
                @if (cost.touched) {
                    @if (cost.errors?.['required']) {
                        <p class="error">Cost is required.</p>
                    }
                }
            </div>

            <div class="form-group">
                <label>Time Needed</label>
                <input type="text" name="timeNeeded" [(ngModel)]="tale.timeNeeded" required #timeNeeded="ngModel" />
            
                @if (timeNeeded.touched) {
                    @if (timeNeeded.errors?.['required']) {
                        <p class="error">Time Needed is required.</p>
                    }
                }
            </div>

            <div class="form-group">
                <label>Best Time to Visit</label>
                <input type="text" name="bestTimeToVisit" [(ngModel)]="tale.bestTimeToVisit" required #bestTimeToVisit="ngModel" />
            
                @if (bestTimeToVisit.touched) {
                    @if (bestTimeToVisit.errors?.['required']) {
                        <p class="error">Best Time to Visit is required.</p>
                    }
                }
            </div>

            <div class="form-group">
                <label>My Experience</label>
                <textarea name="myExperiance" [(ngModel)]="tale.myExperiance" required maxlength="5000" #myExperiance="ngModel" ></textarea>

                @if (myExperiance.touched) {
                    @if (myExperiance.errors?.['required']) {
                        <p class="error">Experience is required.</p>
                    }
                    @if (myExperiance.errors?.['maxlength']) {
                        <p class="error">Maximum length is 5000 characters.</p>
                    }
            }
            </div>

            <div class="form-group">
                <label>Valuable Tips</label>
                <textarea name="valuableTips" [(ngModel)]="tale.valuableTips" required maxlength="5000" #valuableTips="ngModel" ></textarea>

                @if (valuableTips.touched) {
                    @if (valuableTips.errors?.['required']) {
                        <p class="error">Tips are required.</p>
                    }
                    @if (valuableTips.errors?.['maxlength']) {
                        <p class="error">Maximum length is 5000 characters.</p>
                    }
                }
            </div>

            <div class="buttons">
                <button type="submit" class="save-btn">Save</button>
                <button type="button" class="cancel-btn" (click)="cancel()">Cancel</button>
            </div>

        </form>
    }

</section>