<header>
    <nav>
        <a routerLink = "/home" class="logo">
            <img src="logo.png" alt="logo">
        </a>
        <ul>
            <li><a routerLink = "/home">Home</a></li>
            <li><a routerLink = "/tales">Tales</a></li>
            <li><a routerLink = "/create">Create a Tale</a></li>
            <li><a routerLink = "/register">Register</a></li>
            <li><a routerLink = "/login">Login</a></li>
            <li><a routerLink = "/home">Logout</a></li>
        </ul>
    </nav>
</header>
